.new_collections {
  text-align: center;
  overflow: hidden;
}

.slider {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  width: max-content; 
  will-change: transform; 
}

.new_collection-item {
  flex: 0 0 auto; 
  width: 300px; 
  margin-right: 10px;
}

.new_collection-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.new_collections h1 {
  font-size: 2.5rem;
  color: #171717;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  margin-bottom: 20px;
}