.relatedproducts {
    padding: 20px;
    text-align: center;
  }
  
  .relatedproducts-item {
    display: flex;
    overflow-x: auto;
    gap: 20px; /* Space between each product */
    padding-bottom: 10px;
    scroll-behavior: smooth; /* Smooth scrolling when navigating */
  }
  
  .relatedproducts-item > div {
    flex: 0 0 calc(25% - 20px); /* Adjust the width of each item (25% width minus gap) */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
  }
  
  .relatedproducts-item::-webkit-scrollbar {
    height: 8px;
  }
  
  .relatedproducts-item::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  
  .relatedproducts-item::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  .relatedproducts h1 {
    margin-bottom: 10px;
    color: #171717;
    font-size: 50px;
    font-weight:600;
    text-align: center;
  }
  
  hr {
    margin-bottom: 20px;
  }

  .relatedproducts hr{

    width:200px;
    height:6px;
    border-radius: 10px;
    background: #252525;    
  }
  