.offers {
    width: 80%; 
    height: 60vh;
    display: flex;
    margin: auto;
    padding: 0 80px; 
    margin-bottom: 100px; 
    margin-top: 300px; 
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
    border-radius: 20px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    
    
}

.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:200px;
}

.offers-left h1 {
    color: #171717;
    font-size: 3rem; 
    font-weight: 600;
}

.offers-left p {
    color: #171717;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 10px 0; 
}

.offers-left button {
    width: 250px; 
    height: 60px; 
    border-radius: 30px; 
    background: #ff4141;
    border: none;
    color: white;
    font-size: 1.25rem; 
    font-weight: 500;
    margin-top: 20px; 
    cursor: pointer;
    transition: background 0.3s ease; 
}

.offers-left button:hover {
    background: #e34040; 
}

.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 40px; 
}
.offers-right img {
    margin-bottom:50px;
}


